* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


  .body {
      background-color: gray;

  }
  .h2, h3, h4 p {
      color: rgba(0, 0, 0, .5)
  }
  header {
    padding: 20px 35px;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  header h1 {
    background-color: rgb(101, 182, 182);
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: rgba(0, 0, 0, .5);
  }
  
  header a {
    text-decoration: none;
    color: rgba(0, 0, 0, .75);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    color:rgb(101, 182, 182);
    text-decoration: underline;
    padding: 10px 15px;
    font-size: 1.55vw;
  }
  header nav ul li a:hover {
    border-radius: 15px;
    text-shadow: none;
  }

    /* HEADER / NAVBAR STYLES END */
  /* jumbotron styling*/
.photo {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-position: 100%;
    background-image: url(images/background\ stripe.PNG);

}
.photo h2 {
  background-color: rgb(101, 182, 182);
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: rgba(0, 0, 0, .75);
  margin: 50 auto;
  width: 20%;
  
}
.photo img {
  width: 10%


}
  /*About me section styling*/
  .about {
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .About-details {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: right;
    justify-content: space-between;
  }


  .section-title {
    font-size: 48px;
    border-right: 3px solid rgba(0, 0, 0, .75);
    padding-bottom: 20px;
    text-align: right;
    margin: 10 10 10 10;
    width: 20%;
    color: rgba(0, 0, 0, .75);
  }
  /*Work section styling*/
  .work {
    background: lightgray;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .work-pieces {
    margin: 50px auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .surf {
    margin: 20px;
    border: 3px solid rgb(101, 182, 182);
    width: 80%;
    background-image: url(images/surf\ report.jpg);
  }
  .LED {
    margin: 20px;
    border: 3px solid rgb(101, 182, 182);
    width: 40%;
    background-image: url(images/LED\ wall\ image.jpg);
  }
  .Calculator {
    margin: 20px;
    border: 3px solid rgb(101, 182, 182);
    width: 40%;
    background-image: url(images/calculator.jpg);
  } 
  .puzzle {
    margin: 20px;
    border: 3px solid rgb(101, 182, 182);
    width: 40%;
    background-image: url(images/pastel\ puzzels.jpg);
  } 
  .run-buddy {
    margin: 20px;
    border: 3px solid rgb(101, 182, 182);
    width: 40%;
    background-image: url(images/run\ buddy.PNG);
  }
  .card-details {
      background-color: rgb(101, 182, 182);
      padding: 25px;
      list-style: 1.3;
      width: 30%;
      margin-bottom: 10px;
  }

  
  /* Work pieces styling end */
  
  /* FOOTER STYLES START */
  footer {
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background: lightgray
  }
  
  footer h2 {
    font-size: 30px;
    margin: 0;
    color: rgba(0, 0, 0, .75);
  }
  footer div {
    margin: 5 10 20 25;
  }
  footer div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
 

  }
  footer div ul li a {
    color: rgba(0, 0, 0, .75);
    text-decoration: underline;
    padding: 10px 15px;
    font-size: 1.55vw;
  }
  /* END FOOTER STYLES */
