* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


  .body {
      background-color: gray;

  }
  .h2, h3, h4 p {
      color: rgba(0, 0, 0, .75)
  }
  header {
    padding: 20px 35px;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  header h1 {
    background-color: rgb(101, 182, 182);
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: rgba(0, 0, 0, .5);
  }
  
  header a {
    text-decoration: none;
    color: rgba(0, 0, 0, .75);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {

    text-decoration: underline;
    padding: 10px 15px;
    font-size: 1.55vw;
  }
  header nav ul li a:hover {
    border-radius: 15px;
    text-shadow: none;
  }

    /* HEADER / NAVBAR STYLES END */
  /* jumbotron styling*/
.photo {
    margin: 5px;
    flex: 1;
}
.photo img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}
.photo h2 {
    
}
  /*About me section styling*/
  .about {

  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  }
  /*Work section styling*/
  .work {
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .section-title {
    font-size: 48px;
    border-right: 3px solid rgba(0, 0, 0, .75);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
  }
  /* work pieces styling START */
  .work {

  }
  
  .work-pieces {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .primary-card {
    margin: 20px;
    flex: 1;
    width: 70%;

  }
  .cards {
    margin: 20px;
    flex: 1;
    border: 3px solid rgb(101, 182, 182);

  }
  .card-details {
      background-color: rgb(101, 182, 182);
  }
  .cards img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  

  
  .trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
  }
  
  .trainer-bio p {
    font-size: 17px;
  }
  /* Work pieces styling end */
  
  /* FOOTER STYLES START */
  footer {
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer h2 {
    color: #024e76;
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    line-height: 1.5;
  }
  
  footer a {
    color: #024e76;
  }
  /* END FOOTER STYLES */